/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
  /*background-color: #a9a9a9;*/
}

body {
  width: 100%;
  margin: 0 auto;
}

/* || typography */

h1, h3 {
    font-family: 'PT Sans Narrow', sans-serif;
    /*font-family: 'Sonsie One', cursive;*/
    color: white; /*#2a2a2a;*/
}

h2 {

  /*font-family: 'Open Sans Condensed', sans-serif;*/
  color: rgb(230, 27, 27);
}

p, input, li {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #d7ebfa /*#2a2a2a;*/
}

h1 {
    font-size: 2.5rem;
    /*text-align:center;*/
    color: white /*black*/;
    /*text-shadow: 2px 2px 10px black;*/
}

h2 {
    font-size: 1.5rem;
    /*text-align: center;*/
    color: silver; /*rgb(230, 27, 27);*/
}

h3 {
  font-size: 2.2rem;
}

p, li {
  /*font-size: 1.6rem;*/
  font-size: 1.5em;

  line-height: 1.5;
  list-style-type: none;
}

/* || header layout */

nav, article, aside, footer {
  /*background-color: white;*/
  padding: 1%;
}

nav {
  height: 50px;
  /*background-color: blue;*/
  display: flex;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.wrap {
  width: 100%;
  height: 100%;
   padding:2px;
}
.wrapB {
  width: 100%;
  height: 50%;    
  padding:2px;
}
.wrapB1 {
  width: 20%;
  height: 100%;    
  padding:2px;
  background-color: none;
  float: left;
}

.wrapB2 {
  width: 22%;
  height: 100%;    
  padding:2px;
  background-color: none;
  /*color: red;*/
  float: left;
}
.wrapB3 {
  width: 33%;
  height: 100%;    
  padding:2px;
  background-color: none;
  float: left;
}
.wrapB4 {
  width: 23%;
  height: 100%;    
  padding:2px;
  background-color: none;
  /*color: red;*/
  float: left;
}

/*
nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

input {
  font-size: 1.6rem;
  height: 32px;
}

input[type="search"] {
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}
*/
/* || main layout */

main {
  display: flex;
}

article {
  flex: 4;
}
/*
aside {
  flex: 1;
  margin-left: 10px;
  background-color: #ff80ff;
}

aside li {
  padding-bottom: 10px;
}

footer {
  margin-top: 10px;
}
*/
  ul li a:hover {background: #f00;}
  li:hover ul {display: block; position: absolute;}
  li:hover li {float: none;}
  li:hover a {background: #f00;}
  li:hover li a:hover {background: #000;}
